<div class="layout-column align-items-center justify-content-center mt-40">
    <h4>Resource Table</h4>
    <section class="content layout-row align-items-center justify-content-center mt-10">
      <table class="card content">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody data-test-id="resource-list">
          <tr class="slide-up-fade-in">
          <!-- Use below to render row for each resource object -->
            <td>name</td>
            <td>country</td>
            <td><button data-test-id="view-details-button">View details</button></td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
