<div class="layout-column align-items-center justify-content-center mt-40">
    <h4>Selected Resource Details</h4>
    <section class="content layout-row align-items-center justify-content-center mt-10">
      <table class="card content">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>State</th>
            <th>Pin Code</th>
            <th>Total Capacity</th>
            <th>Allocated</th>
          </tr>
        </thead>
        <tbody data-test-id="resource-details">
          <tr class="slide-up-fade-in">
            <!-- Use below to render details row -->
            <td>name</td>
            <td>country</td>
            <td>city</td>
            <td>state</td>
            <td>pin</td>
            <td>totalCapacity</td>
            <td>allocated</td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
